{% extends "base.html" %}

{% load static %}
{% load profiles_filters %}

{% block title %}Ссылка на восстановление пароля отправлена{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <p class="card__title">Ссылка на восстановление пароля отправлена</p>
    <div class="card">
        <p class="card__text">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
    </div>
  </div>
{% endblock content %}
