{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}Список покупок{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pages/shopList.css' %}">
{% endblock css %}

{% block main_title %}Список покупок{% endblock %}

{% block content %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in cart %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% thumbnail recipe.image "960x960" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="Фото рецепта" class="recipe__image recipe__image_big">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    </div>
                    <button class="button shopping-list__button">Удалить</button>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'purchase_download' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/template/shopList.js' %}"></script>
{% endblock js %}
